.add-image .add-image-input+label{height:270px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;background:#dbf0fc;-webkit-border-radius:4px;border-radius:4px;outline-offset:-20px;outline:1px dotted #828da2;cursor:pointer;-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s}
.dropzone { padding: 0; border: 0; height: 270px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #dbf0fc;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    outline-offset: -20px;
    outline: 1px dotted #828da2;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;}
.add-image { margin-bottom: 0; }
.article .voice audio { width: 100%; }

.form-field { width: 100%; padding: 5px; border: 1px solid #ccc; margin-bottom: 15px; }
.comments-item img { border-radius: 50%; }
