.aside-profile__wrap img {
  max-width: 114px;
  display: block;
  margin: 0 auto 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
form.dropzone {
  border: none;
  min-height: auto;
}
form.dropzone div.dz-preview {
  display: block;
  margin: auto;
}
form.dropzone div.dz-image {
  margin: auto;
}

form.dropzone a.dz-remove {
  display: none;
}
form.dropzone.dz-clickable * {
  cursor: pointer;
}
.subscription-table__market {
  list-style: none;
}
form#avatarForm {
  max-height: 155px;
  overflow: hidden;
}
